
# these need to be provided securely:
cloudwatch_slack_webhook = "https://hooks.slack.com/services/***"
cicd_slack_webhook       = "https://hooks.slack.com/services/***"
alerts_slack_channel     = "***"
alerts_slack_username    = "***"
cicd_slack_channel       = "***"
cicd_slack_username      = "***"
